.error-and-offline,
.error-and-offline .error-content {
    display: block
}

.lyrics-lines-container,
.message-container {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--modspotify_secondary_fg);
}

.message-container{
    z-index: 1;
}

.message-container {
    color: #FFFFFF !important;
}

.lyrics-lines-container h1,
.lyrics-lines-container p,
.lyrics-lines-container .lyrics-list-full,
.message-container h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    min-height: 36px
}

@media (min-width:820px) and (min-height:768px) {
    .lyrics-lines-container h1,
    .lyrics-lines-container p,
    .lyrics-lines-container .lyrics-list-full,
    .message-container h1 {
        font-size: 36px;
        line-height: 68px;
        min-height: 36px
    }

    .lyrics-list-full br {
        margin-bottom: 48px
    }

    .message-container p {
        font-size: 18px;
        min-height: 18px;
        line-height: 18px
    }
}

@media (min-width:1280px) and (min-height:768px) {
    .lyrics-lines-container,
    .message-container {
        top: 30%;
    }
    .lyrics-lines-container h1,
    .lyrics-lines-container p,
    .lyrics-lines-container .lyrics-list-full,
    .message-container h1 {
        font-size: 48px;
        line-height: 86px;
        min-height: 48px
    }

    .lyrics-list-full br {
        margin-bottom: 72px
    }

    .message-container p {
        font-size: 28px;
        min-height: 28px;
        line-height: 28px
    }
}

.lyrics-list-full br {
    margin-bottom: 36px
}


.message-container p {
    font-weight: 400;
    font-size: 16px;
    min-height: 16px;
    line-height: 16px
}


.lyrics-lines-container .lyrics-list-animated {
    width: 70%;
    margin: 0 auto;
    height: calc(100% - 18px);
}

.lyrics-lines-container .lyrics-list-animated .lyrics-line {
    position: absolute;
    transition: top .25s, opacity .25s, font-size .25s, color .25s;
    width: 70%;
    color: var(--modspotify_secondary_fg);
}

.lyrics-lines-container .lyrics-list-animated .lyrics-line {
    transition-timing-function: ease-out
}

.lyrics-lines-container .lyrics-list-animated .lyrics-line[data-animation-index="0"] {
    opacity: 0
}

.lyrics-lines-container .lyrics-list-animated .lyrics-line[data-animation-index="1"] {
    opacity: 1
}

.lyrics-lines-container .lyrics-list-animated .lyrics-line[data-animation-index="2"],
.lyrics-lines-container .lyrics-list-animated .lyrics-line[data-animation-index="3"] {
    opacity: .5;
}

.lyrics-lines-container .lyrics-list-animated .lyrics-line[data-animation-index="4"] {
    opacity: 0;
}

.lyrics-lines-container .lyrics-list-full {
    width: 70%;
    margin: 0 auto;
}

.lyrics-lines-container .no-lyrics-message {
    width: 70%;
    color: var(--modspotify_sidebar_and_player_bg);
    margin: 0 auto;
    text-shadow: 0 0 10px hsla(0, 0%, 100%, .25);
}

.message-container-inner {
    width: 70%;
    margin: 0 auto;
}

.lyrics-list-full {
    line-height: 1.75em;
}

.lyrics-list-full a {
    background-color: #dddddd20;
    line-height: 1.4em;
    color: var(--modspotify_main_fg);
}

.lyrics-list-full a:hover {
    background-color: rgba(var(--modspotify_rgb_main_fg), .12);
}

.navbar {
    right: 0px;
    left: 0px;
    position: fixed;
    top: 48px;
}

.glue-page-header__background-scroll-overlay {
    position: fixed;
    height: 92px;
    opacity: 1;
    z-index: 1000;
}

